#navBar {
    text-align: right;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 10px;
}

#page {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

#pageList {
    border: solid;
    border-width: 2px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

table {
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#pageContents {
    border: solid;
    border-width: 2px;
    border-radius: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

#deleteComment {
    display: inline;
}