#container {
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    border: solid;
    border-width: 2px;
    border-radius: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table tr {
    text-align: center;
}

table td {
    padding-right: 10px;
}
